/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/11/2018, 12:39:44 AM
    Author     : jconde
*/
body{
    background-color: #9FC5F8
}
form {
    /* Sólo para centrar el formulario a la página */
    margin: 100px auto;
    width: 800px;
    /* Para ver el borde del formulario */
    padding: 1em;
    border: 1px solid #000000;
    border-radius: 1em;
    font-size: 13;
    background: #FFFFFF;
}
form div + div {
    /* distancia entre div */
    margin-top: 1em;
}
label {
    /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea {
    /* Para asegurarse de que todos los campos de texto tienen las mismas propiedades de fuente
       Por defecto, las areas de texto tienen una fuente con monospace */
    font: 1em sans-serif;

    /* Para darle el mismo tamaño a todos los campos de texto */
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Para armonizar el look&feel del borde en los campos de texto */
    border: 1px solid #999;
}
input:focus, textarea:focus {
    /* Para dar un pequeño destaque en elementos activos*/
    border-color: #000;
}
/* Las Clases de los input */
.input-marca{
    width: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-modelo{
    width: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-fecha{
    width: 140px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-tiempo{
    width: 140px;
    color:red;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-numero{
    width: 80px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-favance{
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-avance{
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-estado{
    width: 100px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-accion{
    width: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
.input-tipo{
    width: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}
