<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/stylesheets/confirmar.css"/>
        <title>Confirmado</title>
    </head>
        <body bgcolor="#9FC5F8">
        <div id="logo">
            <img src="usuario1.png" width="100" height="100">
            <div id="apDiv2"><h1>ADMINISTRADOR</h1></div>
        </div>
        <div id="apDiv3"><h1>EQUIPO INGRESADO CORRECTAMENTE</h1></div>
        <div id="mano">
            <img src="icono.png" width="200" height="200">
        </div>
        <div id="casa">
            <input type="image" onclick=" location.href='/'" width="120" height="100" alt="Menu Principal" src="casa.png">         
        </div>
        <div id="flecha">
            <input type="image" onclick=" location.href='/Registrar'" src="fecha.png" width="95" height="95" alt="Ingresar Nuevo Equipo">
        </div>
    </body>
</html>
