<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Reall Time V1.0</h1>
    <table class="egt">
  <tr>
    <td><h3><script type="text/javascript"> var d = new Date(); document.write(d.getDate(),'- '+d.getMonth(),' - '+d.getFullYear()); </script> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h3></td>
    <td><h2>&nbsp &nbsp &nbsp &nbsp &nbsp INICIO &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp </h2></td>
    <td>
    <input type="button" onclick=" location.href='/login' " value="Ingresar" name="B_Ingresar" style="background-color:#0f76c7d9; border-color:#000000; font-size: 2em; font-family: Verdana; width:100px; height:50px; border-radius:5px; "/> </td>
  </tr>
</table>
    <a href="/" class="Logo">
      <img src="/Logo.png">
      <h3>Copyright°</h3>
  </div>
</div>
</body>
</html>
