<!DOCTYPE html>
<html>

<body style="background-color:#9fc5f8;">
        
        
        <form action="validacionlogin" method="POST">
            <table border="0" align="center">
                
                <tbody>
                    <tr>
                        <td>Usuario:</td>
                        <td><input type="text" name="nombre" value="" /></td>
                    </tr>
                    <tr>
                        <td>Contraseña:</td>
                        <td><input type="password" name="clave" value="" /></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Enviar" /></td>
                        
                    </tr>
                </tbody>
            </table>

        </form>
    </body>
</html>
