<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">


    <head>
        <title>Registro</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/default.css"/>
    </head>
    <body>    
        <form action="confirmar" class="register">
            <h1>Registrar equipo</h1>
            <fieldset class="row2">
                <legend>Informaci&oacute;n del equipo
                </legend>
                <p>
                    <label>ID *
                    </label>
                     <script type="text/javascript">
                        
                        var Num
                        Num=Math.round(Math.random()*100000)
                        document.write(Num)
                    
                    </script>    
                </p>
                <p>
                    <label>Fecha recibido *
                    </label>
                    <select class="date">
                        <option value="1">01
                        </option>
                        <option value="2">02
                        </option>
                        <option value="3">03
                        </option>
                        <option value="4">04
                        </option>
                        <option value="5">05
                        </option>
                        <option value="6">06
                        </option>
                        <option value="7">07
                        </option>
                        <option value="8">08
                        </option>
                        <option value="9">09
                        </option>
                        <option value="10">10
                        </option>
                        <option value="11">11
                        </option>
                        <option value="12">12
                        </option>
                        <option value="13">13
                        </option>
                        <option value="14">14
                        </option>
                        <option value="15">15
                        </option>
                        <option value="16">16
                        </option>
                        <option value="17">17
                        </option>
                        <option value="18">18
                        </option>
                        <option value="19">19
                        </option>
                        <option value="20">20
                        </option>
                        <option value="21">21
                        </option>
                        <option value="22">22
                        </option>
                        <option value="23">23
                        </option>
                        <option value="24">24
                        </option>
                        <option value="25">25
                        </option>
                        <option value="26">26
                        </option>
                        <option value="27">27
                        </option>
                        <option value="28">28
                        </option>
                        <option value="29">29
                        </option>
                        <option value="30">30
                        </option>
                        <option value="31">31
                        </option>
                    </select>
                    <select>
                        <option value="1">Enero
                        </option>
                        <option value="2">Febrero
                        </option>
                        <option value="3">Marzo
                        </option>
                        <option value="4">Abril
                        </option>
                        <option value="5">Mayo
                        </option>
                        <option value="6">Junio
                        </option>
                        <option value="7">Julio
                        </option>
                        <option value="8">Agosto
                        </option>
                        <option value="9">Septiembre
                        </option>
                        <option value="10">Octubre
                        </option>
                        <option value="11">Noviembre
                        </option>
                        <option value="12">Diciembre
                        </option>
                    </select>
                    <input class="year" type="text" placeholder="Año" size="4" maxlength="4"/>
                </p>
                <p>
                    <label>Asignado a *
                    </label>
                    <input type="text" maxlength="10"/>
                </p>
                <p>
                    <label>Estado *
                    </label>
                    <input type="text" maxlength="10"/>
                </p>
                <p>
                    <label>Marca *
                    </label>
                    <select>
                        <option>
                        </option>
                        <option value="1">Marca 1</option>
						<option value="1">Marca 2</option>
						<option value="1">Marca 3</option>
						<option value="1">Marca 4</option>
                    </select>
                </p>
                <p>
                    <label>Modelo *
                    </label>
                    <input type="text" maxlength="10"/>
                </p>
                <p>
                    <label>Cliente *
                    </label>
                    <input type="text" maxlength="10"/>
                </p>
            </fieldset>
            <fieldset class="row2">
		<legend>Confirmar
                </legend>
                <div class="infobox"><h4>Ayuda</h4>
                    <p>El ID se ingresa manualmente. </p>
		    <p>* Estos campos son obligatorios</p>
                </div>
		<div><button class="button" type="submit">Guardar registro &raquo;</button></div>
            </fieldset>
        </form>
    </body>
</html>






</body>
</html>




